@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?slfwpc');
    src:    url('../fonts/icomoon.eot?slfwpc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?slfwpc') format('truetype'),
        url('../fonts/icomoon.woff?slfwpc') format('woff'),
        url('../fonts/icomoon.svg?slfwpc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sass:before {
    content: "\e900";
}
.icon-html5:before {
    content: "\e901";
}
.icon-box:before {
    content: "\e902";
}
.icon-gulp:before {
    content: "\e903";
}
.icon-bootstrap:before {
    content: "\e904";
}
.icon-js:before {
    content: "\e905";
}
.icon-jquery:before {
    content: "\e906";
}
.icon-angular:before {
    content: "\e907";
}
.icon-npm:before {
    content: "\e908";
}
.icon-wordpress:before {
    content: "\e909";
}
.icon-bower:before {
    content: "\e90a";
}
.icon-nodejs:before {
    content: "\e90b";
}
.icon-grunt:before {
    content: "\e90c";
}
.icon-magento:before {
    content: "\e90d";
}
.icon-code:before {
    content: "\e90e";
}
.icon-stack:before {
    content: "\e90f";
}
.icon-link:before {
    content: "\e910";
}
